<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div id="search_container">
    <p class="title">Searched for : <span>{{{query}}}</span></p>
    {{#each freelancer}}
    <div class="row search_result">
      <div class="profile col">
        <img src="/img/male.png" alt="Profile pic" />
        <p>{{fname}}</p>
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>
      <div class="details row">
        <div class="lft">
          <p>Locale</p>
          <p>Works</p>
          <p>Cost</p>
          <p>Contact</p>
        </div>
        <div class="rgt">
          <p>: {{officeaddr}}</p>
          <p>: {{works}}</p>
          <p>: {{cost}} per hour</p>
          <p>: {{contactnum}}</p>
        </div>
      </div>
      <div class="col controls">
        <a href="#" class="btn">View profile</a>
        <a href="#" class="btn">Contact</a>
      </div>
    </div>
    {{else}}
    <p class="empty">No {{query}} available...</p>
    {{/each}}
  </div>
</body>

</html>